/* reset
----------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

figure {
  margin: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

@font-face {
  font-family: "honokamarugo";
  src: url(/common/font/font_1_honokamarugo_1.1.ttf);
}
/* font-size
------------------------------------------- */
/* media-query
------------------------------------------- */
/* base
----------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.18em;
  color: #080B0C;
  background: #FFFCF9;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: inherit;
  color: #080B0C;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

section {
  margin-top: 200px;
}

/* header
-------------------------------- */
.header {
  width: 100%;
  height: 100px;
  padding: 35px 0 36px 0;
  background: rgba(255, 252, 249, 0.5);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__inner {
  width: 66%;
  margin: 0 auto;
}

/* under-header
-------------------------------- */
.under-header {
  width: 100%;
  height: 100px;
  padding: 27px 0 28px;
  background: rgba(255, 252, 249, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.under-header__inner {
  width: 77%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/* main
-------------------------------- */
.main__inner {
  width: 83.333%;
  margin: 0 auto;
}

/* footer
-------------------------------- */
.footer {
  margin-top: 150px;
  background: #6699A1;
  padding: 41px 0 42px;
  position: relative;
}

.footer-contents {
  text-align: center;
}

/* global-nav
----------------------------------------- */
.global-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global-nav__link {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 8px;
  position: relative;
}
.global-nav__link::before {
  content: "";
  width: 0%;
  height: 3px;
  background: #6699A1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
}
.global-nav__link:focus::before, .global-nav__link:hover::before {
  width: 110%;
}

/* access
----------------------------------------- */
.access__map-wrapper {
  width: 50%;
}
.access__map-wrapper iframe {
  width: 100%;
  height: 100%;
}

.access-info {
  width: 45%;
  background: rgba(102, 153, 161, 0.3);
  padding: 4.0625rem 2.5rem;
}
.access-info * + * {
  margin-top: 1.25rem;
}
.access-info dt {
  font-size: 1.25rem;
  font-weight: 700;
}
.access-info dd {
  line-height: 1.875;
  margin-top: 0.625rem;
}

/* sns
----------------------------------------- */
.sns-list * + * {
  margin-left: 42px;
}

.sns-list__item {
  width: 60px;
  height: 60px;
  background: #6699A1;
  border-radius: 999px;
}

.sns-list__link {
  position: relative;
}
.sns-list__link > i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* under-header
----------------------------------------- */
.under-header__logo {
  font-family: honokamarugo, sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
}

.under-header__nav-btn {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 0;
}
.under-header__nav-btn > span {
  width: 100%;
  height: 3px;
  background: #080B0C;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.under-header__nav-btn > span:first-of-type {
  top: 0;
}
.under-header__nav-btn > span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.under-header__nav-btn > span:last-of-type {
  bottom: 0;
}
.under-header__nav-btn.js-open_btn > span:first-of-type {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.under-header__nav-btn.js-open_btn > span:nth-of-type(2) {
  opacity: 0;
}
.under-header__nav-btn.js-open_btn > span:last-of-type {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.under-header__open-contents {
  width: 100%;
  padding: 73px 0 60px;
  background: #6699A1;
  position: absolute;
  top: -500px;
  left: 0;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}
.under-header__open-contents.js-open_nav {
  top: 100px;
}

.under-header__nav-list * + * {
  margin-left: 82px;
}

.under-header__nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #FFFCF9;
  padding: 0.35em 1.2em 0.4em;
  border-radius: 20px;
}

.under-header__sns {
  width: 40%;
  padding: 30px 40px 35px;
  margin: 0 auto;
  background: #FFFCF9;
  border-radius: 20px;
}

/* top-view
----------------------------------------- */
.top-view {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  position: relative;
}
.top-view_about {
  background: url(/about/img/about_topview.jpg) no-repeat center 26%/cover;
}

.top-view__title {
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: absolute;
  bottom: -20px;
  left: 40px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* recruit
----------------------------------------- */
.recruit {
  width: 59%;
  margin: 0 auto;
  padding: 26px 50px 27px;
  position: relative;
}
.recruit::before, .recruit::after {
  content: "";
  width: 42px;
  height: 100%;
  border-top: 1px solid #080B0C;
  border-bottom: 1px solid #080B0C;
  position: absolute;
  top: 0;
}
.recruit::before {
  border-left: 1px solid #080B0C;
  left: 0;
}
.recruit::after {
  border-right: 1px solid #080B0C;
  right: 0;
}

/* btn
-------------------------------- */
.btn-wrapper {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
}

.arrow-btn {
  display: inline;
  padding-bottom: 1.25rem;
  position: relative;
}
.arrow-btn::before {
  content: "";
  width: 160%;
  height: 14px;
  border-right: 1px solid #080B0C;
  border-bottom: 1px solid #080B0C;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) skewX(45deg);
          transform: translateX(-50%) skewX(45deg);
}
.arrow-btn:focus::before, .arrow-btn:hover::before {
  -webkit-animation: arrowBtn 1s ease-out;
          animation: arrowBtn 1s ease-out;
}

@-webkit-keyframes arrowBtn {
  0%, 100% {
    width: 160%;
  }
  30%, 50% {
    width: 140%;
  }
}

@keyframes arrowBtn {
  0%, 100% {
    width: 160%;
  }
  30%, 50% {
    width: 140%;
  }
}
.round-btn {
  width: 124px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  padding: 0.35em 0 0.4em;
  background: #6699A1;
  border: 3px solid #6699A1;
  border-radius: 30px;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
}
.round-btn:focus, .round-btn:hover {
  background: #FFFCF9;
  color: #6699A1;
}

/* copy
-------------------------------- */
.copy {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* section-title
----------------------------------------- */
.section-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
.section-title_left {
  text-align: left;
}
.section-title_cap {
  text-transform: capitalize;
}

/* layer
----------------------------------------- */
.layer_white {
  position: relative;
}
.layer_white::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer_round::before {
  border-radius: 10px 100px;
}

.layer_br20::before {
  border-radius: 20px;
}

/* to-top
-------------------------------- */
.to-top {
  width: 24px;
  height: 180px;
  border-top: 3px solid #6699A1;
  border-right: 3px solid #6699A1;
  position: absolute;
  bottom: 70px;
  right: 127px;
  -webkit-transform: skewY(-50deg);
          transform: skewY(-50deg);
  cursor: pointer;
}
.to-top::after {
  content: "";
  width: 3px;
  height: 30px;
  background: #FFFCF9;
  position: absolute;
  bottom: -4px;
  right: -3px;
}

/* mv
----------------------------------------- */
.mv {
  width: 100%;
  height: 504px;
  background: url(/top/img/mv.jpg) no-repeat center top/cover;
}

.mv__inner {
  text-align: center;
  position: relative;
}

.mv-contents {
  position: absolute;
  top: 84px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.mv-contents__title {
  font-family: honokamarugo, sans-serif;
  font-size: 6.25rem;
  line-height: 1.2;
}
.mv-contents__lead-text {
  font-size: 0.875rem;
  letter-spacing: 0.13em;
}

/* top-about
----------------------------------------- */
.about {
  padding-top: 87px;
}

.about-contents {
  width: calc(944 / 1200 * 100%);
  height: 350px;
  position: relative;
}
.about-contents::after {
  content: "";
  width: calc(656 / 944 * 100%);
  height: 100%;
  border-radius: 100px 10px;
  background: #6699A1;
  opacity: 0.8;
  position: absolute;
  top: -175px;
  right: -27%;
  z-index: -5;
}

.about__link {
  background: url(/top/img/top_about.jpg) no-repeat center -55px/cover;
  border-radius: 10px 100px;
  position: relative;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.about__link:focus, .about__link:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about__lead-text {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  right: 1.875rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* top-products
----------------------------------------- */
.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -35px;
}

.products-list__item {
  width: calc(100% / 2 - 40px * 1 / 2);
  margin-bottom: 35px;
}

.products-banner {
  width: 100%;
  height: 196px;
  border-radius: 20px;
  background: #6699A1;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.products-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.products-banner_yt img {
  -o-object-position: center 65%;
     object-position: center 65%;
}
.products-banner_n img {
  -o-object-position: center 70%;
     object-position: center 70%;
}
.products-banner_s img {
  -o-object-position: center 35%;
     object-position: center 35%;
}
.products-banner_na img {
  -o-object-position: center 48%;
     object-position: center 48%;
}
.products-banner:focus, .products-banner:hover {
  border: 10px solid #6699A1;
}

.products-list__text-wrapper {
  width: 90%;
  margin: 0 auto;
}

.products-list__title {
  padding-top: 1.5625rem;
  font-size: 1.25rem;
}

.products-list__text {
  padding-top: 1.125rem;
  letter-spacing: 0.12em;
}

/* top-news
----------------------------------------- */
.news-contents {
  padding: 2.5rem 5rem;
  position: relative;
}
.news-contents::before, .news-contents::after {
  content: "";
  width: 10%;
  height: 25%;
  position: absolute;
}
.news-contents::before {
  border-top: 1px solid #080B0C;
  border-left: 1px solid #080B0C;
  border-radius: 30px 0 0 0;
  top: 0;
  left: 0;
}
.news-contents::after {
  border-right: 1px solid #080B0C;
  border-bottom: 1px solid #080B0C;
  border-radius: 0 0 30px 0;
  bottom: 0;
  right: 0;
}

.news-list__item {
  display: inline-block;
}
.news-list__item:not(:first-of-type) {
  margin-top: 1.25rem;
}

.news-list__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.news-list__link:focus, .news-list__link:hover {
  background: #6699A1;
}
.news-list__link:focus *, .news-list__link:hover * {
  color: #fff;
}

.news-list__date {
  padding-left: 5px;
  font-size: 1.25rem;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.news-list__title {
  padding-right: 5px;
  width: 83%;
  margin-left: 3.625rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* top-events
----------------------------------------- */
.events-banner {
  width: 100%;
  height: 200px;
  position: relative;
}
.events-banner img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 5%;
     object-position: center 5%;
}

.events-title {
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.events__info-wrapper {
  margin-top: 30px;
}

.events__lead-text {
  text-align: center;
}

.events__info-table {
  width: 65%;
  margin: 58px auto 0;
  border-collapse: collapse;
}
.events__info-table tr:nth-of-type(-n + 4) {
  border-bottom: 1px solid #080B0C;
}
.events__info-table tr th {
  width: 35%;
  font-weight: 700;
  text-align: center;
}
.events__info-table tr th, .events__info-table tr td {
  vertical-align: middle;
}
.events__info-table tr:nth-of-type(-n + 5) th, .events__info-table tr:nth-of-type(-n + 5) td {
  padding: 1.25em 0;
}

.teacher-profile__img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.teacher-profile__name {
  padding-top: 20px;
}

/* concept
----------------------------------------- */
.concept-contents {
  text-align: center;
}

.concept-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 5px;
  position: relative;
}
.concept-title::before {
  content: "";
  width: 103%;
  height: 1.25rem;
  background: #6699A1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -5;
}

.concept__img-wrapper {
  margin-top: 180px;
  height: 293px;
  position: relative;
}

.concept__img {
  width: 454px;
  height: 293px;
  position: absolute;
}
.concept__img_01 {
  top: 0;
  right: 292px;
}
.concept__img_01 img {
  border-radius: 20px;
}
.concept__img_02 {
  top: -100px;
  right: -120px;
  z-index: -5;
}
.concept__img_02 img {
  border-radius: 20px 0 0 20px;
}

/* message
----------------------------------------- */
.message-contents {
  text-align: center;
}

/* margin
----------------------------------------- */
.contents_mt {
  margin-top: 60px;
}

.products-btn_mt {
  margin-top: 95px;
}

.events-btn_mt {
  margin-top: 75px;
}

.about-recruit_mt {
  margin-top: 80px;
}

.under-header__sns_mt {
  margin-top: 40px;
}

/* flex
----------------------------------------- */
.flex-wrapper_sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrapper_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* lh
----------------------------------------- */
.lh_25 {
  line-height: 2.5;
}
/*# sourceMappingURL=style.css.map */