@charset "UTF-8";
/* reset
----------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

figure {
  margin: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

@font-face {
  font-family: "honokamarugo";
  src: url(/common/font/font_1_honokamarugo_1.1.ttf);
}
/* font-size
------------------------------------------- */
/* media-query
------------------------------------------- */
/* base
----------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.18em;
  color: #080B0C;
  background: #FFFCF9;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: inherit;
  color: #080B0C;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
}

section {
  margin-top: 200px;
}

/* header
-------------------------------- */
.header {
  width: 100%;
  height: 100px;
  padding: 35px 0 36px 0;
  background: rgba(255, 252, 249, 0.5);
  position: sticky;
  top: 0;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .header {
    position: static;
  }
}

.header__inner {
  width: clamp(690px, 66%, 950px);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header__inner {
    display: none;
  }
}

/* under-header
-------------------------------- */
.under-header {
  width: 100%;
  height: 100px;
  padding: 27px 0 28px;
  background: rgba(255, 252, 249, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.under-header__inner {
  width: clamp(0px, 77%, 1200px);
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/* main
-------------------------------- */
.main__inner {
  width: 83.333%;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .main__inner {
    width: 90%;
  }
}

/* footer
-------------------------------- */
.footer {
  margin-top: 150px;
  background: #6699A1;
  padding: 41px 0 42px;
  position: relative;
}

.footer-contents {
  text-align: center;
}

/* global-nav
----------------------------------------- */
.global-nav__link {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 8px;
  position: relative;
}
.global-nav__link::before {
  content: "";
  width: 0%;
  height: 3px;
  background: #6699A1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width ease 0.3s;
  transition: width ease 0.3s;
}
.global-nav__link:focus::before, .global-nav__link:hover::before {
  width: 110%;
}

/* global-nav_sp
----------------------------------------- */
.global-nav__sp-btn {
  display: none;
  width: 50px;
  height: 50px;
  background: #6699A1;
  border-radius: 999px;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 110;
}
.global-nav__sp-btn > span {
  width: 55%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.global-nav__sp-btn > span:first-of-type {
  top: 15px;
}
.global-nav__sp-btn > span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.global-nav__sp-btn > span:last-of-type {
  bottom: 15px;
}
.global-nav__sp-btn.js-open_btn > span:first-of-type {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.global-nav__sp-btn.js-open_btn > span:nth-of-type(2) {
  opacity: 0;
}
.global-nav__sp-btn.js-open_btn > span:last-of-type {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
@media screen and (max-width: 768px) {
  .global-nav__sp-btn {
    display: block;
  }
}

.open-contents_sp {
  width: 35%;
  min-width: 270px;
  height: 50%;
  padding: 70px;
  background: rgba(102, 153, 161, 0.8);
  border-radius: 20px;
  position: fixed;
  top: 100px;
  right: -500px;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  z-index: 100;
}
.open-contents_sp.js-open_nav {
  right: 30px;
}

.global-nav__list_sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.global-nav__item_sp {
  display: inline;
}
.global-nav__item_sp:not(:first-of-type) {
  margin-top: 20px;
}

.global-nav__link_sp::before {
  background: #FFFCF9;
}

/* access
----------------------------------------- */
.access__map-wrapper {
  width: 50%;
}
.access__map-wrapper iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .access__map-wrapper {
    width: 100%;
    height: 300px;
  }
}

.access-info {
  width: 45%;
  background: rgba(102, 153, 161, 0.3);
  padding: 4.0625rem 2.5rem;
}
.access-info * + * {
  margin-top: 1.25rem;
}
.access-info dt {
  font-size: 1.25rem;
  font-weight: 700;
}
.access-info dd {
  line-height: 1.875;
  margin-top: 0.625rem;
}
@media screen and (max-width: 768px) {
  .access-info {
    width: 100%;
    padding: 2rem 2.5rem 3rem;
  }
}

/* sns
----------------------------------------- */
.sns-list * + * {
  margin-left: 42px;
}
@media screen and (max-width: 576px) {
  .sns-list * + * {
    margin-left: 15px;
  }
}

.sns-list__item {
  width: 60px;
  height: 60px;
  background: #6699A1;
  border-radius: 999px;
}

.sns-list__link {
  position: relative;
}
.sns-list__link > i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* under-header
----------------------------------------- */
.under-header__logo {
  font-family: honokamarugo, sans-serif;
  font-size: 2.5rem;
  line-height: 1.25;
}

.under-header__nav-btn {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 0;
}
.under-header__nav-btn > span {
  width: 100%;
  height: 3px;
  background: #080B0C;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.under-header__nav-btn > span:first-of-type {
  top: 0;
}
.under-header__nav-btn > span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.under-header__nav-btn > span:last-of-type {
  bottom: 0;
}
.under-header__nav-btn.js-open_btn > span:first-of-type {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.under-header__nav-btn.js-open_btn > span:nth-of-type(2) {
  opacity: 0;
}
.under-header__nav-btn.js-open_btn > span:last-of-type {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.under-header__open-contents {
  width: 100%;
  padding: 73px 0 60px;
  background: #6699A1;
  position: absolute;
  top: -500px;
  left: 0;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}
.under-header__open-contents.js-open_nav {
  top: 100px;
}
@media screen and (max-width: 576px) {
  .under-header__open-contents {
    top: -800px;
  }
}

.under-header__nav-list {
  width: 90%;
  max-width: 770px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .under-header__nav-list {
    display: block !important;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .under-header__nav-item {
    margin-top: 50px;
  }
}

.under-header__nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #FFFCF9;
  padding: 0.35em 1.2em 0.4em;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .under-header__nav-link {
    display: inline;
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 576px) {
  .under-header__nav-link {
    font-size: 1.25rem;
  }
}

.under-header__sns {
  width: 40%;
  padding: 30px 40px 35px;
  margin: 0 auto;
  background: #FFFCF9;
  border-radius: 20px;
}
@media screen and (max-width: 992px) {
  .under-header__sns {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .under-header__sns {
    width: 80%;
    padding: 30px 18px 35px;
  }
}

/* top-view
----------------------------------------- */
.top-view {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  position: relative;
}
.top-view_about {
  background: url(/about/img/about_topview.jpg) no-repeat center 26%/cover;
}
.top-view_products {
  background: url(/products/img/products_topview.jpg) no-repeat center 65%/cover;
}
.top-view_contact {
  background: url(/contact/img/contact_topview.jpg) no-repeat center 40%/cover;
}
@media screen and (max-width: 768px) {
  .top-view {
    height: 300px;
  }
}

.top-view__title {
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: absolute;
  bottom: 90px;
  left: 160px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}
@media screen and (max-width: 768px) {
  .top-view__title {
    left: 100px;
  }
}
@media screen and (max-width: 576px) {
  .top-view__title {
    left: 60px;
  }
}
.top-view__title_products {
  bottom: 140px;
}

/* recruit
----------------------------------------- */
.recruit {
  width: 59%;
  text-align: center;
  margin: 0 auto;
  padding: 26px 50px 27px;
  position: relative;
}
.recruit::before, .recruit::after {
  content: "";
  width: 42px;
  height: 100%;
  border-top: 1px solid #080B0C;
  border-bottom: 1px solid #080B0C;
  position: absolute;
  top: 0;
}
.recruit::before {
  border-left: 1px solid #080B0C;
  left: 0;
}
.recruit::after {
  border-right: 1px solid #080B0C;
  right: 0;
}
@media screen and (max-width: 992px) {
  .recruit {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .recruit {
    width: 100%;
  }
}

/* btn
-------------------------------- */
.btn-wrapper {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.25rem;
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 1.125rem;
  }
}

.arrow-btn {
  display: inline;
  padding-bottom: 1.25rem;
  position: relative;
}
.arrow-btn::before {
  content: "";
  width: 160%;
  height: 14px;
  border-right: 1px solid #080B0C;
  border-bottom: 1px solid #080B0C;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) skewX(45deg);
          transform: translateX(-50%) skewX(45deg);
}
.arrow-btn:focus::before, .arrow-btn:hover::before {
  -webkit-animation: arrowBtn 1s ease-out;
          animation: arrowBtn 1s ease-out;
}
@media screen and (max-width: 576px) {
  .arrow-btn::before {
    width: 130%;
  }
}

@-webkit-keyframes arrowBtn {
  0%, 100% {
    width: 160%;
  }
  30%, 50% {
    width: 140%;
  }
}

@keyframes arrowBtn {
  0%, 100% {
    width: 160%;
  }
  30%, 50% {
    width: 140%;
  }
}
.round-btn {
  width: 124px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  padding: 0.35em 0 0.4em;
  background: #6699A1;
  border: 3px solid #6699A1;
  border-radius: 30px;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
}
.round-btn:focus, .round-btn:hover {
  background: #FFFCF9;
  color: #6699A1;
}
@media screen and (max-width: 576px) {
  .round-btn {
    width: 30%;
  }
}

.send-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 370px;
  max-width: 100%;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  padding: 1.438em 0;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.4em;
  border-radius: 100px;
  border: 1px solid #707070;
  position: relative;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.send-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #6699A1;
  border-radius: 100px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.send-btn:focus, .send-btn:hover {
  color: #fff;
}
.send-btn:focus::before, .send-btn:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* copy
-------------------------------- */
.copy {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* section-title
----------------------------------------- */
.section-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
.section-title_left {
  text-align: left;
}
.section-title_cap {
  text-transform: capitalize;
}

/* layer
----------------------------------------- */
.layer_white {
  position: relative;
}
.layer_white::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer_round::before {
  border-radius: 10px 100px;
}

.layer_br20::before {
  border-radius: 20px;
}

/* to-top
-------------------------------- */
.to-top {
  width: 24px;
  height: 180px;
  border-top: 3px solid #6699A1;
  border-right: 3px solid #6699A1;
  position: absolute;
  bottom: 70px;
  right: 8%;
  -webkit-transform: skewY(-50deg);
          transform: skewY(-50deg);
  cursor: pointer;
}
.to-top::after {
  content: "";
  width: 3px;
  height: 30px;
  background: #FFFCF9;
  position: absolute;
  bottom: -4px;
  right: -3px;
}
@media screen and (max-width: 576px) {
  .to-top {
    right: 5%;
  }
  .to-top::after {
    bottom: 21px;
  }
}

/* mv
----------------------------------------- */
.mv {
  width: 100%;
  height: 504px;
  background: url(/top/img/mv.jpg) no-repeat center top/cover;
}
@media screen and (max-width: 576px) {
  .mv {
    height: 600px;
  }
}

.mv__inner {
  text-align: center;
  position: relative;
}

.mv-contents {
  position: absolute;
  top: 84px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.mv-contents__title {
  font-family: honokamarugo, sans-serif;
  font-size: 6.25rem;
  line-height: 1.2;
}
@media screen and (max-width: 576px) {
  .mv-contents__title {
    font-size: 18vw;
  }
}
.mv-contents__lead-text {
  font-size: 0.875rem;
  letter-spacing: 0.13em;
}
@media screen and (max-width: 576px) {
  .mv-contents__lead-text {
    font-size: 2vw;
  }
}
@media screen and (max-width: 576px) {
  .mv-contents {
    top: 140px;
  }
}

/* top-about
----------------------------------------- */
.about {
  padding-top: 87px;
}
@media screen and (max-width: 768px) {
  .about {
    margin-top: 0;
  }
}

.about-contents {
  width: calc(944 / 1200 * 100%);
  height: 350px;
  position: relative;
}
.about-contents::after {
  content: "";
  width: calc(656 / 944 * 100%);
  height: 100%;
  border-radius: 100px 10px;
  background: #6699A1;
  opacity: 0.8;
  position: absolute;
  top: -175px;
  right: -27%;
  z-index: -5;
}
@media screen and (max-width: 768px) {
  .about-contents {
    width: 90%;
    height: 500px;
  }
  .about-contents::after {
    width: 75%;
    top: -100px;
    right: -13%;
  }
}
@media screen and (max-width: 576px) {
  .about-contents::after {
    top: -65px;
  }
}

.about__link {
  background: url(/top/img/top_about.jpg) no-repeat center -55px/cover;
  border-radius: 10px 100px;
  position: relative;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.about__link:focus, .about__link:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
@media screen and (max-width: 992px) {
  .about__link {
    background-position: center center;
  }
}

.about__lead-text {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  right: 1.875rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 1200px) {
  .about__lead-text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 992px) {
  .about__lead-text {
    width: 353px;
  }
}
@media screen and (max-width: 576px) {
  .about__lead-text {
    width: auto;
    line-height: 2;
    right: 2%;
  }
}

/* top-products
----------------------------------------- */
.products-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -35px;
}

.products-list__item {
  width: calc(100% / 2 - 40px * 1 / 2);
  margin-bottom: 35px;
}
@media screen and (max-width: 576px) {
  .products-list__item {
    width: 100%;
  }
}

.products-banner {
  width: 100%;
  height: 196px;
  border-radius: 20px;
  background: #6699A1;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.products-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.products-banner_yt img {
  -o-object-position: center 65%;
     object-position: center 65%;
}
.products-banner_n img {
  -o-object-position: center 70%;
     object-position: center 70%;
}
.products-banner_s img {
  -o-object-position: center 35%;
     object-position: center 35%;
}
.products-banner_na img {
  -o-object-position: center 48%;
     object-position: center 48%;
}
.products-banner:focus, .products-banner:hover {
  border: 10px solid #6699A1;
}

.products-list__text-wrapper {
  width: 90%;
  margin: 0 auto;
}

.products-list__title {
  padding-top: 1.5625rem;
  font-size: 1.25rem;
}

.products-list__text {
  padding-top: 1.125rem;
  letter-spacing: 0.12em;
}

/* top-news
----------------------------------------- */
.news-contents {
  padding: 2.5rem 5rem;
  position: relative;
}
.news-contents::before, .news-contents::after {
  content: "";
  width: 10%;
  height: 25%;
  position: absolute;
}
.news-contents::before {
  border-top: 1px solid #080B0C;
  border-left: 1px solid #080B0C;
  border-radius: 30px 0 0 0;
  top: 0;
  left: 0;
}
.news-contents::after {
  border-right: 1px solid #080B0C;
  border-bottom: 1px solid #080B0C;
  border-radius: 0 0 30px 0;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .news-contents {
    padding: 2.5rem 4rem;
  }
  .news-contents::before, .news-contents::after {
    width: 40%;
  }
}
@media screen and (max-width: 576px) {
  .news-contents {
    padding: 2.5rem 2rem;
  }
}

.news-list__item {
  display: inline-block;
}
.news-list__item:not(:first-of-type) {
  margin-top: 1.25rem;
}

.news-list__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.news-list__link:focus, .news-list__link:hover {
  background: #6699A1;
}
.news-list__link:focus *, .news-list__link:hover * {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .news-list__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.news-list__date {
  padding-left: 5px;
  font-size: 1.25rem;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.news-list__title {
  padding-right: 5px;
  width: 83%;
  margin-left: 3.625rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media screen and (max-width: 768px) {
  .news-list__title {
    margin: 0.3rem 0 0 0;
    width: 100%;
  }
}

/* top-events
----------------------------------------- */
.events-banner {
  width: 100%;
  height: 200px;
  position: relative;
}
.events-banner img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 5%;
     object-position: center 5%;
}
@media screen and (max-width: 576px) {
  .events-banner {
    height: 150px;
  }
}

.events-title {
  font-size: 1.25rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0.5em;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.events__info-wrapper {
  margin-top: 30px;
}

.events__lead-text {
  text-align: center;
}

.events__info-table {
  width: 65%;
  margin: 58px auto 0;
  border-collapse: collapse;
}
.events__info-table tr:nth-of-type(-n + 4) {
  border-bottom: 1px solid #080B0C;
}
.events__info-table tr th {
  width: 35%;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .events__info-table tr th {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .events__info-table tr th {
    text-align: left;
    width: 100%;
  }
}
.events__info-table tr th, .events__info-table tr td {
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .events__info-table tr th, .events__info-table tr td {
    display: block;
  }
}
.events__info-table tr:nth-of-type(-n + 5) th, .events__info-table tr:nth-of-type(-n + 5) td {
  padding: 1.25em 0;
}
@media screen and (max-width: 768px) {
  .events__info-table tr:nth-of-type(-n + 5) th, .events__info-table tr:nth-of-type(-n + 5) td {
    padding: 1rem 0 0;
  }
}
@media screen and (max-width: 768px) {
  .events__info-table tr:nth-of-type(-n + 5) td {
    padding: 0.25rem 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  .events__info-table tr:last-of-type th {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .events__info-table tr:last-of-type td {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .events__info-table {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .events__info-table {
    width: 90%;
  }
}

.teacher-profile__img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.teacher-profile__name {
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .teacher-profile__name {
    padding-top: 10px;
    text-align: center;
  }
}

/* concept
----------------------------------------- */
.concept-contents {
  text-align: center;
}

.concept-title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 5px;
  position: relative;
}
.concept-title::before {
  content: "";
  width: 103%;
  height: 1.25rem;
  background: #6699A1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -5;
}
@media screen and (max-width: 768px) {
  .concept-title {
    font-size: 3.47vw;
  }
  .concept-title::before {
    height: 40%;
  }
}
@media screen and (max-width: 576px) {
  .concept-title {
    font-size: 5.7vw;
  }
  .concept-title::before {
    height: 20%;
  }
}

.concept__img-wrapper {
  margin-top: 180px;
  height: 293px;
  position: relative;
}
@media screen and (max-width: 576px) {
  .concept__img-wrapper {
    position: static;
    margin-top: 50px;
  }
}

.concept__img {
  width: 454px;
  height: 293px;
  position: absolute;
}
.concept__img_01 {
  top: 0;
  right: 30%;
}
.concept__img_01 img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 576px) {
  .concept__img_01 {
    right: 0;
  }
}
.concept__img_02 {
  top: -100px;
  right: -10%;
  z-index: -5;
}
.concept__img_02 img {
  border-radius: 20px 0 0 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 576px) {
  .concept__img_02 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .concept__img {
    position: relative;
    width: 100%;
  }
  .concept__img:not(:first-of-type) {
    margin-top: 20px;
  }
}

/* message
----------------------------------------- */
.message-contents {
  text-align: center;
}

/* products
----------------------------------------- */
.products {
  text-align: center;
}

/* artist-products
----------------------------------------- */
.artist-products {
  margin-top: 120px;
}

.artist-products__banner {
  width: calc(780 / 1200 * 100%);
  min-width: 550px;
  height: 293px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}
.artist-products__banner_yt {
  background: url(/common/img/yamadatakashi.jpg) no-repeat center 70%/cover;
}
.artist-products__banner_n {
  background: url(/common/img/ndish.jpg) no-repeat center 75%/cover;
}
.artist-products__banner_s {
  background: url(/common/img/saginuma.jpg) no-repeat center 85%/cover;
}
.artist-products__banner_na {
  background: url(/common/img/nana.jpg) no-repeat center 43%/cover;
}
@media screen and (max-width: 768px) {
  .artist-products__banner {
    width: 100%;
    min-width: auto;
  }
}
@media screen and (max-width: 576px) {
  .artist-products__banner {
    height: 160px;
  }
}

.artist-products__title {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 40px;
  bottom: 60px;
}
.artist-products__title_wh {
  color: #fff;
}

.artist-products-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}
.artist-products-list::-webkit-scrollbar {
  display: none;
}

.artist-products-list__item:not(:first-of-type) {
  margin-left: 42px;
}

.artist-products-list__img {
  width: 246px;
  height: 246px;
}
.artist-products-list__img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 576px) {
  .artist-products-list__img {
    width: 180px;
    height: 180px;
  }
}

.artist-products-list__info {
  margin-top: 15px;
  text-align: center;
}

.artist-products-list__price {
  font-size: 1.125rem;
  margin-top: 0.9375rem;
}

/* contact
----------------------------------------- */
.contact-contents {
  text-align: center;
  width: 65.555%;
  margin: 200px auto 0;
}
@media screen and (max-width: 768px) {
  .contact-contents {
    width: 100%;
    margin: 250px auto 0;
  }
}

.tel-link {
  display: inline;
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 3.5em;
  position: relative;
}
.tel-link::before {
  content: "";
  width: 2em;
  height: 2em;
  background: url(/contact/img/tel-icon.svg) no-repeat center center/contain;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 576px) {
  .tel-link::before {
    width: 1.5em;
    height: 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .tel-link {
    font-size: 4vw;
    padding-left: 2em;
  }
}

.contact-message:not(:first-of-type) {
  margin-top: 30px;
}

.contact-message__wrapper {
  text-align: left;
  margin-top: 100px;
}

.contact-message__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 5px 10px 5px 3em;
  list-style: none;
  cursor: pointer;
  position: relative;
}
.contact-message__title::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 2em;
  color: #080B0C;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}
.contact-message__title::-webkit-details-marker {
  display: none;
}
.contact-message__title:hover, .contact-message[open] .contact-message__title {
  background: #6699A1;
  color: #fff;
}
.contact-message__title:hover::before, .contact-message[open] .contact-message__title::before {
  color: #fff;
  -webkit-transform: translateY(-50%) scaleY(-1);
          transform: translateY(-50%) scaleY(-1);
}
@media screen and (max-width: 576px) {
  .contact-message__title {
    font-size: 4.5vw;
  }
}

.contact-message__contents {
  line-height: 1.875;
  padding: 18px 0 0 40px;
}

.copy-list {
  margin-top: 10px;
  list-style-type: disc;
  list-style-position: inside;
}

.attention-list {
  margin-top: 10px;
}

.attention-list__item {
  padding-left: 20px;
  position: relative;
}
.attention-list__item::before {
  content: "※";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* form
----------------------------------------- */
.contact-form {
  width: 65.555%;
  min-width: 700px;
  margin: 100px auto 0;
}
@media screen and (max-width: 768px) {
  .contact-form {
    width: 100%;
    min-width: auto;
  }
}

.contact-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-form__item:not(:first-of-type) {
  margin-top: 30px;
}
@media screen and (max-width: 992px) {
  .contact-form__item:not(:first-of-type) {
    margin-top: 40px;
  }
}
.contact-form__item_textarea {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact-form__item_privacy {
  text-align: center;
  margin-top: 85px;
}
@media screen and (max-width: 992px) {
  .contact-form__item {
    display: block;
  }
}

.contact-form__label {
  display: inline-block;
}
.contact-form__label label {
  font-size: 1.25rem;
  font-weight: 500;
}
.contact-form__label_must {
  padding-right: 105px;
  position: relative;
}
.contact-form__label_must::after {
  content: "必須";
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  background: #6699A1;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-form__label_textarea {
  margin-top: 20px;
}
.contact-form__label_privacy {
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 3rem;
  position: relative;
}
.contact-form__label_privacy input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.contact-form__label_privacy input[type=checkbox]:checked + .contact-form__checkbox::after {
  border-bottom: 3px solid #6699A1;
  border-right: 3px solid #6699A1;
  position: absolute;
  top: 10%;
  left: 3%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
.contact-form__label_privacy input[type=checkbox]:focus + .contact-form__checkbox::before, .contact-form__label_privacy input[type=checkbox]:hover + .contact-form__checkbox::before {
  border: 3px solid #6699A1;
}
@media screen and (max-width: 576px) {
  .contact-form__label_privacy {
    font-size: 4vw;
  }
}

.contact-form__input {
  width: 56.5%;
  height: 65px;
}
.contact-form__input input, .contact-form__input select, .contact-form__input textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px 20px;
  border: 1px solid #707070;
  border-radius: 10px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.contact-form__input input:focus, .contact-form__input input:hover, .contact-form__input select:focus, .contact-form__input select:hover, .contact-form__input textarea:focus, .contact-form__input textarea:hover {
  border: 3px solid #6699A1;
}
.contact-form__input_select {
  position: relative;
}
.contact-form__input_select::after {
  content: "";
  width: 15px;
  height: 15px;
  border-right: 3px solid #707070;
  border-bottom: 3px solid #707070;
  position: absolute;
  top: 45%;
  right: 30px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.contact-form__input_textarea {
  height: 360px;
}
@media screen and (max-width: 992px) {
  .contact-form__input {
    width: 100%;
    margin-top: 25px;
  }
}

.contact-form__checkbox::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #707070;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.contact-form__checkbox::after {
  content: "";
  width: 6px;
  height: 16px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.contact-form__privacy-wrapper {
  width: 82%;
  height: 340px;
  padding: 40px 60px;
  margin: 50px auto 0;
  border-radius: 10px;
  border: 1px solid #707070;
  background: #fff;
  overflow-y: scroll;
}
.contact-form__privacy-wrapper::-webkit-scrollbar {
  width: 20px;
}
.contact-form__privacy-wrapper::-webkit-scrollbar-thumb {
  background: #6699A1;
  border-radius: 20px;
}
@media screen and (max-width: 576px) {
  .contact-form__privacy-wrapper {
    padding: 40px 25px;
    width: 100%;
  }
}

.contact-form__btn {
  text-align: center;
}

/* margin
----------------------------------------- */
.contents_mt {
  margin-top: 60px;
}

.products-btn_mt {
  margin-top: 95px;
}

.events-btn_mt {
  margin-top: 75px;
}

.contact-btn_mt {
  margin-top: 100px;
}

.about-recruit_mt {
  margin-top: 80px;
}

.products-recruit_mt {
  margin-top: 180px;
}

.under-header__sns_mt {
  margin-top: 40px;
}

/* flex
----------------------------------------- */
.flex-wrapper_sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrapper_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .flex-wrapper_md-block {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .flex-wrapper_sm-block {
    display: block;
  }
}

/* lh
----------------------------------------- */
.lh_25 {
  line-height: 2.5;
}

/* br
----------------------------------------- */
.br_sp {
  display: none;
}
@media screen and (max-width: 576px) {
  .br_sp {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */