@charset "UTF-8";
@use "../../global" as g;

/* top-about
----------------------------------------- */
.about {
    padding-top: 87px;
}

.about-contents {
    width: calc(944 / 1200 * 100%);
    height: 350px;
    position: relative;

    &::after {
        content: '';
        width: calc(656 / 944 * 100%);
        height: 100%;
        border-radius: 100px 10px;
        background: g.$cMain;
        opacity: .8;
        position: absolute;
        top: -175px;
        right: -27%;
        z-index: -5;
    }

    @include g.mq(md) {
        width: 90%;
        height: 500px;

        &::after {
            width: 75%;
            top: -100px;
            right: -13%;
        }
    }

    @include g.mq(sm) {
        &::after {
            top: -65px;
        }
    }
}

.about__link {
    background: url(/top/img/top_about.jpg) no-repeat center -55px / cover;
    border-radius: 10px 100px;
    position: relative;
    z-index: 5;
    transition: transform .3s ease;

    &:focus, &:hover {
        transform: scale(1.02);
    }

    @include g.mq(lg) {
        background-position: center center;
    }
}

.about__lead-text {
    color: g.$cText_wh;
    font-weight: 500;
    font-size: g.rem(24px);
    letter-spacing: .2em;
    position: absolute;
    top: 50%;
    right: g.rem(30px);
    transform: translateY(-50%);

    @include g.mq(xl) {
        font-size: g.rem(20px);
    }

    @include g.mq(lg) {
        width: 353px;
    }

    @include g.mq(sm) {
        width: auto;
        line-height: 2;
        right: 2%;
    }
}