@charset "UTF-8";
@use "../../global" as g;

/* top-events
----------------------------------------- */
.events-banner {
    width: 100%;
    height: 200px;
    position: relative;

    img {
        border-radius: 20px;
        object-fit: cover;
        object-position: center 5%;
    }
}

.events-title {
    font-size: g.rem(20px);
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: g.rem(80px);
    transform: translateY(-50%);
}

.events__info-wrapper {
    margin-top: 30px;
}

.events__lead-text {
    text-align: center;
}

.events__info-table {
    width: 65%;
    margin: 58px auto 0;
    border-collapse: collapse;

    tr {
        &:nth-of-type(-n + 4) {
            border-bottom: 1px solid g.$cText_bk;
        }

        th {
            width: 35%;
            font-weight: 700;
            text-align: center;
        }

        th, td {
            vertical-align: middle;
        }


        &:nth-of-type(-n + 5) {
            th, td {
                padding: 1.25em 0;
            }
        }

    }
}

.teacher-profile__img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.teacher-profile__name {
    padding-top: 20px;
}