@charset "UTF-8";
@use "../../global" as g;

/* top-events
----------------------------------------- */
.events-banner {
    width: 100%;
    height: 200px;
    position: relative;

    img {
        border-radius: 20px;
        object-fit: cover;
        object-position: center 5%;
    }

    @include g.mq(sm) {
        height: 150px;
    }
}

.events-title {
    font-size: g.rem(20px);
    font-weight: 700;
    background: rgba(#fff, .2);
    padding: 0 .5em;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.events__info-wrapper {
    margin-top: 30px;
}

.events__lead-text {
    text-align: center;
}

.events__info-table {
    width: 65%;
    margin: 58px auto 0;
    border-collapse: collapse;

    tr {
        &:nth-of-type(-n + 4) {
            border-bottom: 1px solid g.$cText_bk;
        }

        th {
            width: 35%;
            font-weight: 700;
            text-align: center;

            @include g.mq(xl) {
                width: 45%;
            }

            @include g.mq(md) {
                text-align: left;
                width: 100%;
            }
        }

        th, td {
            vertical-align: middle;

            @include g.mq(md) {
                display: block;
            }
        }

        &:nth-of-type(-n + 5) {
            th, td {
                padding: 1.25em 0;

                @include g.mq(md) {
                    padding: 1rem 0 0;
                }
            }

            td {
                @include g.mq(md) {
                    padding: .25rem 0 1rem;
                }
            }
        }

        &:last-of-type {
            th {
                @include g.mq(md) {
                    margin: 0 auto;
                }
            }

            td {
                @include g.mq(md) {
                    margin-top: 1rem;
                }
            }
        }
    }

    @include g.mq(lg) {
        width: 80%;
    }

    @include g.mq(md) {
        width: 90%;
    }
}

.teacher-profile__img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.teacher-profile__name {
    padding-top: 20px;

    @include g.mq(md) {
        padding-top: 10px;
        text-align: center;
    }
}