@charset "UTF-8";
@use "../../global" as g;

/* mv
----------------------------------------- */
.mv {
    width: 100%;
    height: 504px;
    background: url(/top/img/mv.jpg) no-repeat center top / cover;

    @include g.mq(sm) {
        height: 600px;
    }
}

.mv__inner {
    text-align: center;
    position: relative;
}

.mv-contents {
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);

    &__title {
        font-family: g.$fontTitle;
        font-size: g.rem(100px);
        line-height: 1.2;

        @include g.mq(sm) {
            font-size: 18vw;
        }
    }

    &__lead-text {
        font-size: g.rem(14px);
        letter-spacing: .13em;

        @include g.mq(sm) {
            font-size: 2vw;
        }
    }

    @include g.mq(sm) {
        top: 140px;
    }
}
