@charset "UTF-8";
@use "../global" as g;

/* footer
-------------------------------- */
.footer {
    margin-top: 150px;
    background: g.$cMain;
    padding: 41px 0 42px;
    position: relative;
}

.footer-contents {
    text-align: center;
}