@charset "UTF-8";
@use "../global" as g;

/* header
-------------------------------- */
.ly_header {
    width: 100%;
    padding: g.rem(32px) 0 g.rem(31px);
    position: fixed;
    top: 0;
    left: 0;
    
    @include g.mq(sm) {
        padding: g.rem(28px) 0 g.rem(27px);
    }
}

.ly_header_inner {
    max-width: g.$layout-width-inner;
    padding: 0 2.78vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include g.mq(sm) {
        padding: 0 10.67vw;
    }
}