@charset "UTF-8";
@use "../global" as g;

/* main
-------------------------------- */
.main__inner {
    width: 83.333%;
    margin: 0 auto;

    @include g.mq(sm) {
        width: 90%;
    }
}