@charset "UTF-8";
@use "../../global" as g;

/* artist-products
----------------------------------------- */
.artist-products {
    margin-top: 120px;
}

.artist-products__banner {
    width: calc(780 / 1200 * 100%);
    min-width: 550px;
    height: 293px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;

    &_yt {
        background: url(../common/img/yamadatakashi.jpg) no-repeat center 70% / cover;
    }

    &_n {
        background: url(../common/img/ndish.jpg) no-repeat center 75% / cover;
    }

    &_s {
        background: url(../common/img/saginuma.jpg) no-repeat center 85% / cover;
    }

    &_na {
        background: url(../common/img/nana.jpg) no-repeat center 43% / cover;
    }

    @include g.mq(md) {
        width: 100%;
        min-width: auto;
    }

    @include g.mq(sm) {
        height: 160px;
    }
}

.artist-products__title {
    font-size: g.rem(24px);
    font-weight: 700;
    position: absolute;
    right: 40px;
    bottom: 60px;

    &_wh {
        color: g.$cText_wh;
    }
}

.artist-products-list {
    margin-top: 50px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

.artist-products-list__item {
    &:not(:first-of-type) {
        margin-left: 42px;
    }
}

.artist-products-list__img {
    width: 246px;
    height: 246px;

    img {
        object-fit: cover;
    }

    @include g.mq(sm) {
        width: 180px;
        height: 180px;
    }
}

.artist-products-list__info {
    margin-top: 15px;
    text-align: center;
}

.artist-products-list__price {
    font-size: g.rem(18px);
    margin-top: g.rem(15px);
}