@charset "UTF-8";
@use "../../global/" as g;

/* btn
-------------------------------- */
.btn-wrapper {
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: g.rem(20px);
}

.arrow-btn {
    display: inline;
    padding-bottom: g.rem(20px);
    position: relative;

    &::before {
        content: '';
        width: 160%;
        height: 14px;
        border-right: 1px solid g.$cText_bk;
        border-bottom: 1px solid g.$cText_bk;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) skewX(45deg);
    }

    &:focus, &:hover {
        &::before {
            animation: arrowBtn 1s ease-out;
        }
    }

}

@keyframes arrowBtn {
    0%,
    100% {
        width: 160%;
    }
    30%,
    50% {
        width: 140%;
    }
}

.round-btn {
    width: 124px;
    text-align: center;
    font-weight: 700;
    color: g.$cText_wh;
    padding: 0.35em 0 .4em;
    background: g.$cMain;
    border: 3px solid g.$cMain;
    border-radius: 30px;
    transition: background .3s ease, color .3s ease;

    &:focus, &:hover {
        background: g.$cBg_main;
        color: g.$cMain;
    }
}

.send-btn {
    appearance: none;
    width: 370px;
    max-width: 100%;
    text-align: center;
    font-family: g.$fontMain;
    padding: 1.438em 0;
    font-size: g.rem(24px);
    font-weight: 700;
    letter-spacing: .4em;
    border-radius: 100px;
    border: 1px solid #707070;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: all .3s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: g.$cMain;
        border-radius: 100px;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .3s;
    }

    &:focus, &:hover {
        color: g.$cText_wh;

        &::before {
            transform-origin: left top;
            transform: scale(1, 1);
        }
    }
}