@charset "UTF-8";
@use "../../global/" as g;

/* copy
-------------------------------- */
.copy {
    color: g.$cText_wh;
    font-size: g.rem(12px);
    font-weight: 700;
    text-transform: uppercase;
}