@charset "UTF-8";

/* flex
----------------------------------------- */
.flex-wrapper_sb {
    display: flex;
    justify-content: space-between;
}

.flex-wrapper_c {
    display: flex;
    justify-content: center;
}