@charset "UTF-8";
@use "../global" as g;

/* flex
----------------------------------------- */
.flex-wrapper_sb {
    display: flex;
    justify-content: space-between;
}

.flex-wrapper_c {
    display: flex;
    justify-content: center;
}

.flex-wrapper_md-block {
    @include g.mq(md) {
        display: block;
    }
}

.flex-wrapper_sm-block {
    @include g.mq(sm) {
        display: block;
    }
}
