@charset "UTF-8";

/* margin
----------------------------------------- */
.contents_mt {
    margin-top: 60px;
}

.products-btn_mt {
    margin-top: 95px;
}

.events-btn_mt {
    margin-top: 75px;
}

.about-recruit_mt {
    margin-top: 80px;
}

.products-recruit_mt {
    margin-top: 180px;
}

.under-header__sns_mt {
    margin-top: 40px;
}