@charset "UTF-8";
@use "../../global/" as g;

/* global-nav
----------------------------------------- */
.global-nav__items {
    display: flex;
    justify-content: space-between;
}

.global-nav__link {
    font-size: g.rem(20px);
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 8px;
    position: relative;

    &::before {
        content: '';
        width: 0%;
        height: 3px;
        background: g.$cMain;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width ease .3s;
    }

    &:focus, &:hover {
        &::before {
            width: 110%;
        }
    }
}