@charset "UTF-8";
@use "../../global" as g;

/* sns
----------------------------------------- */
.sns-list {
    * + * {
        margin-left: 42px;

        @include g.mq(sm) {
            margin-left: 15px;
        }
    }
}

.sns-list__item {
    width: 60px;
    height: 60px;
    background: g.$cMain;
    border-radius: 999px;
}

.sns-list__link {
    position: relative;

    > i {
        color: g.$cText_wh;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}