@charset "UTF-8";
@use "../../global/" as g;

/* top-view
----------------------------------------- */
.top-view {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    position: relative;

    &_about {
        background: url(../about/img/about_topview.jpg) no-repeat center 26% / cover;
    }

    &_products {
        background: url(../products/img/products_topview.jpg) no-repeat center 65% / cover;
    }

    &_contact {
        background: url(../contact/img/contact_topview.jpg) no-repeat center 40% / cover;
    }

    @include g.mq(md) {
        height: 300px;
    }
}

.top-view__title {
    font-size: g.rem(50px);
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    position: absolute;
    bottom: 90px;
    left: 160px;
    transform: rotate(90deg);
    transform-origin: left;

    @include g.mq(md) {
        left: 100px;
    }

    @include g.mq(sm) {
        left: 60px;
    }

    &_products {
        bottom: 140px;
    }
}